// Place all the styles related to the Basics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	padding-top: 90px;
}

footer {
	margin-top: 40px;
}

html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

.container {
	padding: 0 5%;
}

.navbar {
  .navbar-inner > .container {
	  padding: 0 5%;
	  height: 70px;
  }
  #logo{
	  height: 68px;
	  margin: 5px 10px 5px 0;
  }
}

.navbar .nav > li > a {
	line-height: 5;
}

.hero-unit {
	height: 220px;
	background-image: url(antelopes-left.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0;
	h1, h2 {
		color: black;
	}
}

.icon-large {
	font-size: 24px;
}