// Place all the styles related to the Basics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
	padding: 0 5%;
}

.navbar {
	//margin-bottom: 0;
  .navbar-inner > .container {
	  padding: 0 5%;
	  height: 70px;
  }
}

body {
	padding-top: 70px;
}

footer {
	margin-top: 40px;
}

.hero-unit {
	height: 220px;
}

.icon-large {
	font-size: 24px;
}

html, body {
  width: auto !important;
  overflow-x: hidden !important;
}