@media (max-width: 1024px) and (min-width: 770px) {
	.hero-unit {
		background-image: url(antelope-ipad-horizontal.jpg);
	}
}

@media (max-width: 770px) and (min-width: 480px) {
	.hero-unit {
		background-image: url(antelope-ipad-vertical.jpg);
	}
}

@media (max-width: 480px) {
	.hero-unit {
		background-image: url(antelope-small.jpg);
		.container {
			max-width: 180px;
		}
		h1 {
			font-size: 45px;
		}
		h2 {
			font-size: 28px;
		}
	}
}