<header class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
    <div class="container">
 
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to COMPANY_NAME_CN, root_path, class: 'brand' %>
      <ul class="nav pull-right">
        <li><%= link_to t(:contact_us), '#' %></li>
      </ul>

    </div>
	</div>
</header>